/* VITE DEFAULTS */
:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* STUFF I ADDED MYSELF */
* {
  box-sizing: border-box;
}
.game {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
}

.header-element:nth-child(1) {
  grid-column-start: 2;
}

.settings-btn {
  margin: 2rem;
  height: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

/* Alert Box Styles */
.alert-box {
  position: fixed;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  opacity: 0;
  transition:
    top 200ms ease-out,
    opacity 200ms ease-out;
}

.alert-box.show {
  top: 20px;
  opacity: 1;
}

.alert-box.hide {
  /* transition: top 300ms ease; */
  top: 0px;
  opacity: 0;
}

/*TODO: MAKE THESE RESPONSIVE*/
.guesses-container {
  display: flex;
  flex-direction: column-reverse;
  /* gap: 2rem; */
  justify-content: center;
}

.guess {
  display: flex;
  width: 220px;
  justify-content: center;
  margin-top: 0px;
  gap: 5px;
  animation: slide 0.2s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateY(-1rem);
    opacity: 0%;
  }
  100% {
    transform: translateY(-0rem);
  }
}
@keyframes flip {
  0% {
    transform: scaleY(1);
    background-color: black;
  }
  50% {
    transform: scaleY(0);
    background-color: transparent;
    color: transparent;
  }
  100% {
    transform: scaleY(1);
  }
}

.flip {
  animation: flip 300ms ease forwards;
}

/* Input container to align letters */
.guess-input-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* Input styling similar to letter components */
.letter,
.input-box {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 1.5rem; /* Match font sizes */
  overflow: hidden;
  text-transform: uppercase;
  color: white; /* Ensure uniform text color */
  box-shadow: none; /* Remove shadows */
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.letter {
  z-index: 1;
  background-color: black;
}

/* Hidden input field for typing */
.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.settings-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-content {
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  background-color: rgb(6, 6, 6);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.settings-item {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.settings-close {
  position: relative;
  top: 0;
  background: none;
  border: none;
  height: 40px;
  width: 40px;
  margin-top: 1rem;
  padding: 0;
}

.label-text {
  margin-top: 1rem;
}
/* CSS taken from elsewhere */
.container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #060;
  color: #fff;
}
.inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  height: 26px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.2s 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}
