.game {
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

input {
    height: 2rem;
    width: 12rem;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
}